/* GENERAL */
a
{
    text-decoration: none;
    color:black;
}
li
{
    list-style: none;
}
body
{
    max-width: 1400px;
    margin: 0 auto;
    padding: 44px 3% 0 3%;
    font-family: "Raleway"; 
}
/* HEADER */
.logo_booki
{
    width: 61.09px;
    height: 19px;
}
.navbar 
{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.ul_navbar
{
    display:flex;
    justify-content: space-between;
}
.lien_nav
{
    font-size: 16px;
    padding: 57px 30px 0;
}
.lien_nav:hover
{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}
/* SECTION RECHERCHER */
#rechercher
{
    margin-top: 50px;
}
/* BOX RESEARCH */
.research_box
{
    display:flex;
}
.location
{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:49px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    cursor:pointer;
}
.research_bar
{
    height: 47px;
    border: 1px solid #F2F2F2;
    padding-left: 16px;
    width: 282px;
}
.research_bar::placeholder
{
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.button_research
{
    height: 50px;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    border: 1px solid #0065FC;
}
.button_search_mobile
{
    display:none;
}
/* FILTRES */
.filters
{
    display:flex;
    align-items:center;
    margin-top: 20px;
}
.ul_filters
{
    display:flex;
    padding-left: 0;
}
.container_ul_filters 
{
    display:flex;
}
.list_filters
{
    margin-right: 30px;
    display:flex;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 15px;
    border: 2px solid #D9D9D9;
}
.list_filters:hover
{
    background-color: #DEEBFF;
}
.first_ul_filters
{
    margin-left: 10px;
}
.font_filters
{
    font-size: 17px;
    font-weight: 700;
}
.icon_filters
{
    padding-right: 10px;
    color:#0065FC;
}
.info_sup
{
    display:flex;
    align-items: center;
}
.icon_info_sup
{
    color: #0065FC;
    margin-right: 10px;
}
/* LES DEUX GRANDES SECTIONS */
#hebergements
{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.all_cards
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 30px;
    height: 625px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container_card
{
    padding: 0 5px 5px 5px;
}
.title
{
    font-size: 22px;
    margin:0;
}
/* ETOILES */
.star 
{
    font-size: 12px;
    color:#0065FC;
}
.empty_star
{
    color:#F2F2F2
}
/* SECTION HEBERGEMENTS */
.hebergements_cards
{
    width: 54%;
}
.marseille_cards
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.marseille_title
{
    padding: 20px 0;
}
.card_marseille
{
    border-radius: 20px;
    background-color: white;
    padding:5px;
    margin-bottom: 25px;
    cursor:pointer;
    width: 30%;
}
.img_card
{
    object-fit: cover;
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.title_card
{
    font-size: 16px;
    margin: 5px 0;
}
.night
{
    font-size: 14px;
    margin: 0 0 5px;
}
.afficher_plus
{
    margin-top: 0;
    margin-bottom: 25px;
}
/* SECTION LES PLUS POPULAIRES */
.most_popular_cards
{
    width: 31%;
}
.most_popular_title
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.most_popular_card
{
     display:flex;
     flex-direction: column;
     justify-content: space-evenly;
     height: 100%;
}
.icon_most_popular
{
    color: #0065FC;
    width: 18px; 
}
.img_popular
{
    object-fit: cover;
    height: 144px;
    width: 36%;
    border-radius: 20px 0px 0px 20px;
}
.card_popular
{
    border-radius: 20px;
    background-color: white;
    padding:5px;
    display:flex;
    cursor:pointer;
}
.container_card_popular
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 0 10px;
}
/* HOVER CARDS */
.card_popular:hover, .card_marseille:hover, .card_activity:hover
{
    transform: scale(1.01);
}
/* SECTION ACTIVITY */
#activity
{
    margin-top: 60px;
}
.activity_cards
{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
.card_activity
{
   width: 23%;
   border-radius: 20px;
   box-shadow: 0px 3px 15px 1px #8A8A8A;
   cursor: pointer;
}
.img_activity
{
    height: 389px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.container_title_activity
{
    display:flex;
    margin-left: 20px;
}
.title_activity
{
    font-size: 16px;
}
/* FOOTER */
.footer_title
{
    font-size: 18px;
}
.footer_container
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 100%;
}
footer
{
    margin-top: 50px;
    background-color:#F2F2F2;
    height: 225px;
}
.ul_footer
{
    padding-left: 0;
    display:flex;
    flex-direction: column;
}
.li_footer
{
    padding-bottom: 10px;
}
/* MEDIA QUERIES TABLETTE */
@media screen and (max-width: 992px)
{
    /* GENERAL */
    body 
    {
        padding-left: 5%;
        padding-right: 5%;
    }
    /* LES DEUX GRANDES SECTIONS */
    #hebergements
    {
        flex-direction: column;
        align-items: center;
        height: 950px;
        width: 98%;
        margin: 20px auto auto auto;
    }
    .all_cards
    {
        width: 95%;
    }
    .most_popular_card
    {
        flex-direction: row;
        height: auto;
    }
    .most_popular_cards
    {
        height: 278px;
        padding-bottom: 20px;
    }
    .card_popular
    {
        width: 29%
    }
    .most_popular_title
    {
        padding-top:0;
    }
    /* ACTIVITY */
    .img_activity
    {
        height: 211px;
    }
    .card_activity
    {
        width: 21%;
    }
    /* FOOTER */
    .footer_container
    {
        width: auto;
        justify-content: space-evenly;
    }
    /* FILTRES */
    .list_filters
    {
        margin-right:10px;
        padding-left: 8px;
        padding-right: 7px;
    }
}
/* MEDIA QUERIES PORTABLE */
@media screen and (max-width: 768px)
{
    /* GENERAL */
    body
    {
        padding: 20px 0 0 0;
    }
    /* HEADER */
    .navbar
    {
        flex-direction: column;
    }
    .ul_navbar
    {
        padding-left: 0;
        justify-content: space-evenly;
    }
    .links
    {
        width: 100%;
    }
    .lien_nav
    {
        padding: 0 0 20px 0;
        display:flex;
        justify-content: center;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
    }
    .lien_nav:hover
    {
        border-top:none;
        border-bottom: 3px solid #0065FC;
    }
    .underline_blue
    {
        border-bottom:3px solid #0065FC;
        color:#0065FC;
    }
    .li_navbar
    {
        display:flex;
        width: 100%;
        justify-content: center;
    }
    /* BOX RESEARCH */
    #rechercher
    {
        width: 90%;
        margin: 50px auto 20px auto;
    }
    .button_research
    {
        display: none;
    }
    .button_search_mobile
    {
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid #0065FC;
        width: 49px;
    }
    .research_bar
    {
        width: 65%;
    }
    .icon_search
    {
        color:white;
    }
    /* FILTRES */
    .filters
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .container_ul_filters
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .ul_filters
    {
        width: 100%;
        justify-content: space-evenly;
        margin-left: 0;
    }
    .list_filters
    {
        width: 35%;
        height: 30px;
        margin: 0;
    }
    .font_filters
    {
        font-size: 13px
    }
    /* DEUX GRANDES SECTIONS */
    #hebergements
    {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: auto;
        width: auto;
    }
    .all_cards
    {
        border-radius: 0;
        width: 100%;
        padding: 0;
    }
    .hebergements_cards
    {
        background-color:white;
        height: 100%;
        margin: 10px auto auto auto;
        padding: 0;
        width: 90%;
    }
    .marseille_title
    {
        padding-bottom: 30px;
    }
    .most_popular_cards
    {
        height: auto;
        padding-top: 30px;
    }
    .most_popular_card
    {
        flex-direction: column;
        align-items: center;
        height: 585px;
    }
    .most_popular_title
    {
        width: 90%;
        margin:auto;
    }
    .card_popular
    {
        width: 90%;
    }
    .marseille_cards
    {
        flex-direction: column;
        align-items: center;
    }
    .card_marseille
    {
        height: 199px;
        width: 97%;
        box-shadow: 0px 3px 15px 1px #8A8A8A;
    }
    .afficher_plus
    {
        display:none;
    }
    /* ACTIVITES */
    #activity
    {
        width: 90%;
        margin:50px auto auto auto;
    }
    .activity_cards
    {
        flex-direction: column;
    }
    .card_activity
    {
        width: 100%;
        margin-bottom: 30px;
    }
    /* FOOTER */
    .footer_container
    {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin-left: 40px;
    }
    footer
    {
        height: auto;
        padding-top: 30px;
        width: 100%;
    }
}